importFrom(utils, read.csv)
importFrom(BiocStyle, doc_date)
importFrom(SummarizedExperiment, assays)
importFrom(RUnit, checkEquals)
importFrom(ExperimentHub, createHubAccessors)
importFrom(AnnotationHub, query)
importFrom(DESeq2, DESeqDataSetFromTximport)
importFrom(DESeq2, DESeqDataSet)
export(make_txi)
export(reorder_assays)
